option_settings:
  aws:autoscaling:launchconfiguration:
    DisableIMDSv1: true
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: true 
  aws:elasticbeanstalk:environment:process:default:
    Port: '8080'
    HealthCheckPath: '/health'
  aws:elasticbeanstalk:application:environment:
    SLACK_SIGNING_SECRET: "SET-ME"
    SLACK_BOT_TOKEN: "SET-ME"

